.navbar{
    background-color:#9758cb ;
    overflow: hidden;
    display: flex;
    position: fixed;
    flex-direction: row;
    top: 0;
    right: 3px;
    left: 3px;
    align-items: center;
    justify-content: space-between;
    height: 72.8px;
    z-index: 100;

}
.nav-option{
    display: inline-block;
    padding-top: 25px;
    color: #FFF5E4;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    vertical-align: center;
    padding-bottom: 25px;

}

.middle-section{
    flex: 1;
    min-width: 0px;
}
.nav-options{
    display: grid;
    position: relative;
    flex: 1;
    grid-template-columns: 220px 120px 120px 120px;
}
.nav-option:hover{
    background-color: #432C7A;
}

.title a{
    display: inline-block;
    color: #fbe4de;
    font-size: 30px;
    font-family: Lora, Arial;
    font-weight: 600;
    margin-left: 20px;
    text-decoration: none;
    min-width: 200px;
}

body{
    background-color: #fbe4de;
    padding-top: 50px;
}

main{
    
    display: grid;
    grid-template-rows: 1fr 500px 300px;
    /* row-gap: 50px; */
}

p{
    color: black;
}

.sucide{
    padding-top: 50px;
    background-color: aqua;
}

footer{
    height: 300px;
    background-color: #9758cb;
}
