body {
    
   background-color: #c5e2d3;
     /* background-color: #fff; */
   }
 
 .login-container {
     max-width: 1200px;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     height: 100vh;
   }
 
 .login-form {
     background-color: #d3e7d2; 
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     flex: 1;
     max-width: 400px;
     margin: 100px;
     margin-right: 10px;
   }
 
 .login-image {
     width: 100%;
     max-width: 600px;
     height: auto;
     margin-bottom: 20px;
   }
 
 #forgotPassword{
   justify-content: end;
   align-items: end;
 }

#forgotpass{
  cursor: pointer;

}

 #signUp{
   cursor: pointer;
 }