body {
    /* background-image: url("https://images.wallpaperscraft.com/image/single/tree_horizon_sunset_128367_1920x1080.jpg"); */
    background-image: url("https://images.wallpaperscraft.com/image/single/tree_horizon_sunset_128367_3840x2400.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.container {
    text-align: center;
    margin-top: 15%;
}

/* .social-icons {
    margin-top: 20px;
} */

.custom-bi{
    margin: 10px;
    color: white;
}

.custom-displayHeading{
    font-weight: 500;
    /* color: rgb(103, 29, 16); */
    color: rgb(50, 7, 13);
    margin-bottom: 30px;
}

.custom-lead{
    font-weight: 400;
    color: black;
}