body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* background: linear-gradient(to top, #3be25c, #58e3d5, #dffaf1, #d875ff, #f7c738) */
  /* green to blue */
  background: linear-gradient(to top, #00a5cf,#7ae582,  #9fffcb, #66babc, #66babc);
  /* pink to green */
  /* background: linear-gradient(to top, #71CB90, #B5E8A4, #FFC8C4, #FFB0C4, #FF97C4);   */
  /* green to green */
  /* background: linear-gradient(to top, #43AC78, #64C695, #66D6A2, #93E9BE, #66babc); */
 
}

/* Navigation Bar */
.navbar-titles{
    font-weight: 500;
    font-family: 'Lora', serif;
    font-size: 20px; 
    
}

.profile-icon{
  padding-left: 23%;
}


/* page */
/* landing image */
.images{
  height: 100vh;
  /* background-image: url("https://media.licdn.com/dms/image/C5612AQH7k9yuvMDJ0g/article-cover_image-shrink_720_1280/0/1632916378382?e=1710979200&v=beta&t=v6zvFsukr8CPwdspfwr8iBYhZXOjTbmWdCgXdcqjqJo"); */
  background-image: url("../Images/homepageimg1.jpeg.jpg");
  background-size:cover ;
  background-position: center;
  color: white; 
}

.imageTextContainer {
  color:black;
  text-align: center;
  /* margin-top: 15%; */
  /* justify-content: end; */
}

#greetingWish{
  /* margin-top: 10%; */
  font-weight: 400;
}

.custom-quote{
  width: 500px;
  /* margin-left: 700px; */
  /* margin-top: 15%; */
  /* display: flex;
  justify-content:  end; */
}



/* articles */
.articles-box{
  
  border: 2px black solid;
  height: 400px;
}

/* resources  */
.resources-box{
  height: 400px;
  border: 2px black solid;
}