@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap%27');

body{
  /* background: linear-gradient(to top,#87dff1, #fff); */
  /* background-image: url("https://img.freepik.com/free-vector/monochromatic-hand-painted-background-with-drawn-nature-elements_52683-63007.jpg?w=996&t=st=1706528329~exp=1706528929~hmac=770d0737fa27fa63bc385f12e567378ea45811a96ad8dff1a5125ad776a241ea"); */
    background-size: cover;
    background-position: center;
}

/* Navigation Bar */
.navbar-titles{
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    /* font-size: 20px;  */
    
}

.profile-icon{
  padding-left: 23%;
}

#myChart{
  height: 450px;
  width: auto;
}

.explain-text{
  background-color: rgb(29, 157, 186);
  margin-right: 10px;
}

/* #noProgress{
  display: block;
} */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

#table-container{
  padding: 0 20px 0 20px;
}