@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    background-image: url("https://i.pinimg.com/564x/35/de/29/35de296285e0e03921badf4bf543a569.jpg");
    background-size: cover;
    background-position: center;
}

.circular-progress{
    height: 290px;
    width: 290px;
    border-radius: 50%;
    
}
.circular-progress::before{
    content: " ";
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #fff;
}
.progress-value{
    position: relative;
    /* color: #7d2ae8; */
    color: green;
}